@use 'globals/styles/_mixins.scss' as *;

.projects {
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .project-card {
      display: flex;
      gap: 2rem;
      justify-content: space-between;

      &:nth-child(4n + 1) {
        flex-direction: row-reverse;
      }

      .project-image {
        color: #FFFFFF;
        width: 45%;
        height: auto;
        background-color: #2C3D55;
        border: 0.1rem solid #181716;
        border-radius: 1rem;
        aspect-ratio: 1.78;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: transform 60ms ease-in-out;
      }

      .project-info {
        .links-container {
          display: flex;
          align-items: center;
          gap: 2rem;
        }
      }
    }

  }
}

@include screen-lg {
  .projects {
    .projects-container {
      .project-card {

        &,
        &:nth-child(4n + 1) {
          flex-direction: column;
        }

        .project-image {
          width: 100%;
        }
      }
    }
  }
}

@include screen-md {
  .projects {
    .projects-grid {
      // grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include screen-xs {
  .projects {
    .projects-grid {
      // grid-template-columns: 1fr;
    }
  }
}