@use 'globals/styles/_mixins.scss' as *;

.projects {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;

    .project-card {
      color: #FFFFFF;
      background-color: #2C3D55;
      border: 0.1rem solid #181716;
      border-radius: 1rem;
      aspect-ratio: 1.1;
    }
  }
}

@include screen-lg {
  .projects {
    .projects-grid {
      // grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include screen-md {
  .projects {
    .projects-grid {
      // grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include screen-xs {
  .projects {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
}