@use 'globals/styles/_mixins.scss' as *;

.section-home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #2C3D55;
  margin-top: 5.063rem;
}

.section-about,
.section-contact {
  background-color: #F0F0F0;
}

.theme-dark {
  &,
  a {
    color: #FFFFFF;
  }
}
.grecaptcha-badge {
  visibility: hidden;
}

textarea {
  font-family: "Tahoma", "Arial", "Arabic Transparent";
}

input[type=text] {
  font-family: "Tahoma", "Arial";
}

@include screen-sm {
  .section-home {
    align-items: flex-start;
    margin-top: 4.25rem;
  }
}

@include screen-xs {
  .btn {
    width: 100%;
  }
}