@use 'globals/styles/_mixins.scss' as *;

.section-home {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  background-color: #2C3D55;
  padding-top: 4.15rem;
}

.section-about,
.section-contact {
  background-color: #F0F0F0;
}

.theme-dark {
  &,
  a {
    color: #FFFFFF;
  }
}
.grecaptcha-badge {
  visibility: hidden;
}

@include screen-xs {
  .btn {
    width: 100%;
  }
}