.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5625rem 2.5rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid #000000;
  background-color: #FFFFFF;
  color: #000000;

  .header-logo {
    font-size: 1.375rem;
    font-weight: 700;
  }

  .header-navigation {
    ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;

      li {
        padding: 0 0.625rem;

        a {
          color: #000000;
          font-weight: 700;

          &:hover,
          &.active {
            color: #40A2D8;
          }
        }
      }
    }
  }
}