.about {
  display: flex;
  align-items: center;
  gap: 6rem;
  
  .about-images-container {
    position: relative;
    flex: 0 0 24rem;
    height: 22rem;

    .image-1,
    .image-2 {
      width: 13.75rem;
      height: 13.75rem;
      object-fit: cover;
      position: absolute;
    }

    .image-1 {
      bottom: 0;
    }

    .image-2 {
      right: 0;
    }

  }

  .about-info {
    display: flex;
    flex: 1;
    flex-direction: column;

    .about-personal-info {
      margin-bottom: 1rem;
      
      .about-data {
        h4 {
          margin-bottom: .25rem;
        }
      }
    }
  }
}