@use 'globals/styles/_mixins.scss' as *;

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .form-group {
    display: flex;
    gap: 1.5rem;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: .25rem;

    label {
      cursor: pointer;
      width: max-content;
    }

    input,
    textarea {
      font-size: 1rem;
      line-height: 1.5;
      color: #212529;
      background-color: #FFFFFF;
      border: 0.0625rem solid #CED4DA;
      border-radius: 0.25rem;
      padding: 0.75rem 1.125rem;
      transition: border-color .15s ease-in-out;

      &:focus {
        outline: none;
        border-color: #40A2D8;
      }
    }

    textarea {
      resize: vertical;
      min-height: 10rem;
      max-height: 18rem;
    }
  }
}

@include screen-sm {
  .contact-form {
    .form-group {
      flex-direction: column;
    }

    .form-control {
      input,
      textarea {
        padding: 0.5rem;
      }
    }
  }
}